DATABASE_NAME=database-viraoliv
DATABASE_USER=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_PASSWORD=
PRIVATE_KEY='./private.pem'
PUBLIC_KEY='./public.pem'
JWT_SECREY_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SMTP_USER=
SMTP_PASS=